@{
    ViewData["Title"] = "Home Page";
}


@*@Html.ActionLink("View Image", "PdfPartial")*@

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

            table th {
                background-color: #F7F7F7;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

        #pdf_container {
            background: #ccc;
            text-align: center;
            display: none;
            padding: 5px;
            height: 820px;
            overflow: auto;
        }

        .gap-3 {
            margin-top: 10px
        }

        .stayleft {
            margin-left: 1px
        }

        iframe {
            border: 0;
            bottom: 0;
            height: 0px;
            left: 0;
            margin: 0;
            padding: 0;
            right: 0;
            top: 0;
            width: 100%;
        }

        .txt {
            /*font-weight: bold;
            font-family: "Times New Roman", Times, serif;*/
            font-style: normal;
        }
    </style>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.js" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/pdf_viewer.min.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/switch-toggle.css" />

</head>
<body>
    <br />
    <div class="container">
        <div class="row gap-3">
            <div class="col-sm-4 gap-3">
                <input type="text" class="form-control" id="txtPolicyNo" placeholder="PolicyNo">
            </div>
            <div class="col-sm-4 gap-3">
                <input type="text" class="form-control" id="txtSaleCode" placeholder="SaleCode">
            </div>
            <div class="col-sm-2 gap-3">
                <input type="button" id="getData" class="btn btn-primary col-sm-12" onclick="GetData()" value="Send" />
            </div>
        </div>
        <div class="form-group gap-3" style="margin-top:20px">
            <div class="row">
                <div class="col-sm-8">
                    <label for="exampleFormControlTextarea1">Response</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <text class="form-control" id="prettyJSONFormat" rows="4"></text>
                </div>
                <div class="col-sm-8 gap-3">
                    <text class="form-control" id="prettyJSONFormat" rows="4"></text>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div id="pdf_container"></div>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/pdf/pdf.min.js"></script>


    <script type="text/javascript">
        function GetData() {
            document.getElementById('getData').disabled = true;
            document.getElementById('getData').value = 'Sending...';

            var strMethodName = "POST"
            var strUrl = document.getElementById('txtURL').value
            var strJson = document.getElementById('prettyJSONFormat').value
            var strUser = document.getElementById('txtUserName').value
            document.getElementById('inputValueJson').value = strJson;
            //console.log(value);

            var url = "@Url.Action("PdfPartial", "Home")" + "?strMethodName=" + strMethodName + "&strUrl=" + strUrl + "&strJson=" + strJson + "&strUser=" + strUser + "";

            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);

            xhr.onreadystatechange = function (e) {
                if (this.status == 200) {
                    if (this.readyState == 4) {
                        //console.log(this)
                        //console.log(xhr)
                        var res = JSON.parse(xhr.response);

                        if (res.statusCode == 200) {
                            if (res.contentType == 'application/pdf') {
                                document.getElementById('ifrmDisplay').src = res.contentFilePreview;
                                document.getElementById('ifrmDisplay').style.height = '1000px'
                                document.getElementById("divResponsePrettyJSONFormat").style.display = "none"
                                document.getElementById("txtResponse").innerHTML = ''
                                var jsonInput = JSON.parse(document.getElementById('inputValueJson').value);
                                var txtChk = jsonInput.key.substring(1, 9);
                                console.log(txtChk);
                                if (txtChk == "PolicyNo")
                                {
                                    document.getElementById("upload").style.display = ""
                                    document.getElementById('upload').value = 'Upload';
                                    document.getElementById('upload').disabled = false;
                                }
                            } else if (res.contentType == 'text/plain') {
                                document.getElementById("divResponsePrettyJSONFormat").style.display = ""
                                document.getElementById('ifrmDisplay').style.height = '0px'
                                document.getElementById("responsePrettyJSONFormat").value = res.json;
                                printTheJSONInPrettyFormat2();
                                document.getElementById("txtResponse").innerHTML = ''
                            }
                        }
                        else {
                            var msg = res.statusCode + ' : ' + res.status;
                            document.getElementById("txtResponse").innerHTML = ' Status ' + msg;
                            document.getElementById('ifrmDisplay').style.height = '0px'
                            document.getElementById("responsePrettyJSONFormat").value = '';
                        }
                    }
                }
                else {
                    var resError = JSON.parse(xhr.response);
                    var msg = resError.statusCode + ' : ' + resError.status;
                    document.getElementById("txtResponse").innerHTML = ' Status ' + msg;
                    document.getElementById('ifrmDisplay').style.height = '0px'
                    document.getElementById("responsePrettyJSONFormat").value = '';
                }
                document.getElementById('getData').value = 'Send';
                document.getElementById('getData').disabled = false;
            };
            xhr.send();
        }
    </script>

</body>
</html>
